@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

#root {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fixed-bottom-right {
  position: fixed;
  top: 10px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above other content */
}

.parent-container {
  position: relative;
  /* other styles */
}

.absolute-bottom-right {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
}

.blur {
    filter: blur(8px);
}
